.nav {
	width: 100%;
	background: linear-gradient(to right, #5A98A1,#2c5b61);
	display: block;
}

.profileIcon {
	padding: 2vw;
	height: inherit;
	position: fixed;
	right: 0px;
}

.homeIcon {
	padding: 2vw;
	height: inherit;
}
