.searchHistoryCard {
    border-radius: 3px;
    border-width: 2px;
    border-style: groove;
    margin-bottom: 10px;
    padding-left: 5px;
}

#searchHistoryCardTitle {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: purple;
    margin: 0 auto;
}

.searchHistoriesContainer{
    text-align: center;
}

