.inherit {
    display: inherit;
    height: inherit;
    width: inherit;
}

.display {

    margin: 10vh auto 0;
}

.logo {
    display: inherit;
    margin: auto;
    padding: 2vh;
    width: 50vw;
}

.form {
    display: grid;
    padding: 0 5vh;
    align-content: flex-start;
}

.form > p {
    margin: 1vh;
    font-size: 1.2em;
}



.formChildReset {
    display: block;
    margin: 0.7vh auto;
    width: 100%;
    padding: 3vw;
    border-color: lightslategray;
    border-radius: 8px;
    font-size: 1.2em;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
    color: #087E8B;
	font-weight:bold;
	text-transform:lowercase;
	font-family: 'Open Sans Bold';
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.link2 {
    display: block;
    position: fixed;
    right: 5vw;
    bottom: 1vh;
    font-size: 1.1em;
    color: blue;
}
.link2 a,  a{
	    color: #087E8B;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans', arial, sans-serif;
	font-weight:bold;
}
button {
    background-color: #28C0D1;
	color: #ffffff;
	text-transform:uppercase;
	font-weight:bold;
	border-radius: 10px;
	font-size: 16px;
    line-height: 20px;
    padding: 13px;
	width: 100%;
	border:0;
	margin:20px 0 40px;
}
button:hover{
	background: #28c0d1;
    background: linear-gradient(135deg, #28c0d1 0%,#10416c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28c0d1', endColorstr='#10416c',GradientType=1 );
}

.regBtn {
    background-color: #10416C;
}
input {
    border-radius: 10px;
    border: 1px solid #95989A;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    padding: 13px;
	margin: 10px 0;
}
@media only screen and (min-width: 800px)  {

	.logo{
		width: 40vw;
	}
	.display {
	width: 50vw;

}
}

@media only screen and (min-width: 1200px)  {

	.logo{
		width: 20vw;
	}
	.display {
	width: 35vw;

}
}