/*  Change .favorites to html to set font size */
/*  RGB was compiled to hex  */
/*  Colors from green theme: ../../../../images/green-theme.png  */
/*
    @dark: #292429: rgb(41, 36, 41);
    @mid: #fffacc: rgb(255, 250, 204);
    @light: #f0ebf0: rgb(240, 235, 240);
    @highlight: #3b8a3b: rgb(59, 138, 59);
    @accent: #709c60: rgb(112, 156, 96);
*/
.favorites {
  font-size: 62.5%;
}
.card {
  margin: 1rem;
  padding: 0rem;
  padding-bottom: 1rem;
  color: #292429;
  background: #f0ebf0;
  border: solid 1px rgba(211, 211, 211, 0.1);
}
.card__header {
  width: 100%;
  display: flex;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  padding-left: 1rem;
  background: white;
  color: #3b8a3b;
  font-size: 2rem;
}
.card__list {
  margin: 1rem;
  padding: 0rem;
  list-style: none;
  list-style-type: none;
}
.card__item {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 0 0.7rem 0;
  padding: 0.2rem;
  background: white;
  color: #292429;
  border: solid 1px white;
  box-shadow: 0 0.5rem 2rem -0.5rem #292429;
  font-size: 1rem;
}
.card__item:hover {
  background: #3b8a3b;
  color: white;
  border: solid 1px #709c60;
}
.card__itemHeader {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.card__itemSubHeader {
  font-size: 1rem;
}
.card__itemDetails {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.card__itemDetails p {
  margin: 0;
  margin-left: -0.5rem;
  padding: 0;
  color: #709c60;
  font-size: 0.8rem;
}
.card__link {
  color: #fffacc;
}
.card__link:hover {
  color: white;
}
