.directions {
	height: 95vh;
	width: 100%;
}
.directionspartial {
	height: 95vh;
	width: 70%;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.sidenav {
    height: 100%;
    width:30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidenavclose{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}


