.profile {
	padding: 5vh 5vw;
	width: 100%;
}

.successMessage{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.link {
    padding: 5px;
}

.link a {
    text-decoration: none;
}

.links_container{
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 2vh;
}

fieldset {
    border-radius: 3px;
}
