.form {
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  display: block;
  position: fixed;
  top: 10vh;
}

.search {
  width: 80vw;
  text-align: center;
   display: inherit;
  margin: auto;
}